##############
# IDE / OS
##############
.idea/
.vscode/
.DS_Store
Thumbs.db

##############
# Environnement
##############
.env
_docker/.env

##############
# Logs
##############
*.log

##############
# Docker
##############
*.tar

##############
# Node / Build Front
##############
node_modules/
dist/
public/
